@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 1rem;
  overflow: hidden;
  scroll-behavior: smooth;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

h2 {
  position: absolute;
  top: 0;
  left: 5vw;
  text-align: center;
  color: white;
  font-size: clamp(3rem, 3.5vw, 3.5vw);
  font-weight: 300;
  -webkit-animation: focus-in-expand 0.8s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: focus-in-expand 0.8s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  /* transform: rotate(-85deg); */
  z-index: 2;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  border: 1px solid white;
  pointer-events: none;
  margin: 10px 0;
  padding: 5px;
}

section {
  position: relative;
  height: 100vh;
  width: 80%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section span {
  display: block;
  position: absolute;
  left: -8.5vw;
  top: 15vw;
  font-size: clamp(1rem, 2.5vw, 2.5vw);
  color: white;
  -webkit-transform: rotate(-82deg);
          transform: rotate(-82deg);
  font-weight: 100;
}

section span:nth-of-type(1) {
  left: 24vw;
}

section span:nth-of-type(2) {
  left: 49vw;
}

section div {
  width: 100%;
  height: 100%;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  -webkit-transition: -webkit-clip-path 1s ease-in-out;
  transition: -webkit-clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
}

section div:hover {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

section div a {
  position: relative;
  height: 100%;
  width: 100%;
}

section div a img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

section div.siteone {
  -webkit-animation: slide-in-left 1.5s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 1.5s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

section div.sitetwo {
  -webkit-animation: slide-in-bottom 1.5s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-bottom 1.5s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

section div.sitethree {
  -webkit-animation: slide-in-right 1.5s 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 1.5s 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  section div a img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  section span {
    top: 25vw;
  }
}

@media (max-width: 768px) {
  h2 {
    margin-top: 40px;
  }
  section {
    width: 50%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  section span {
    left: 50vw;
    top: 3vw;
    font-size: clamp(1rem, 2.5vw, 2.5vw);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -8px;
    font-weight: 800;
  }
  section span:nth-of-type(1) {
    left: 50vw;
    top: 47vw;
    letter-spacing: 13px;
  }
  section span:nth-of-type(2) {
    left: 50vw;
    top: 91vw;
    letter-spacing: 1px;
  }
  section div {
    height: 30%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 480px) {
  section {
    width: 60%;
  }
  section span {
    left: 63vw;
    top: 5vw;
    letter-spacing: -3px;
  }
  section span:nth-of-type(1) {
    left: 63vw;
    top: 75vw;
    letter-spacing: 18px;
  }
  section span:nth-of-type(2) {
    left: 63vw;
    top: 146vw;
    letter-spacing: 5px;
  }
}
/*# sourceMappingURL=main.css.map */